# Core requirements
pandas
scikit-learn

# Excel file handling
openpyxl

# Visualization
matplotlib
seaborn
plotl

# Jupyter Notebook
jupyter

# Optional: For exporting to PDF
nbconvert==6.5.4

# Optional: For database integration (if needed in the future)
SQLAlchemy==2.0.17
sqlite3==3.8.3
